.header-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
}

.container p{
    font-weight: bold;
}

.profile-img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
}

.profile-img:hover{
    transform: scale(1.1);
    transition: all ease-in-out 0.5s;
}