.center{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 16px;
}

.tech-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 16px;
    margin: 20px;
}

.card {
    background-color: #fff;
    padding: 16px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card:hover, #profile-img:hover {
    transform: scale(1.05);
}

.card img {
    width: 100%;
    max-width: 300px;
    justify-content: center;
    height: auto;
    object-fit: cover;
}

#js {
    border-radius: 10%;
}

#favorite-activities {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#add-activity {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#add-activity:hover {background-color: #0056b3;}

#profile-img {
    width: 300px;
    height: auto;
    border-radius: 50%;
    object-fit: cover;
    width: 300px;
    height: 300px;
    transition: transform 0.3s ease;
    margin-bottom: 30px;
    margin-top: 20px;
}

.card p{
    margin-top: 14px;
}

input {
    width: 300px;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

h2 {
    margin-bottom: 20px;
}